<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DPS_FE.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DPS_FE.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de sucesos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>

  <appSettings>
    <add key="wsaa" value="https://wsaa.afip.gov.ar/ws/services/LoginCms?wsdl"/>
    <add key="DNOrigen" value="C = AR, S = ba, L = CABA, O = TESTING CERT, SERIALNUMBER = CUIT 20249161897"/>
    <add key="DNDestino" value="cn=wsaa,o=AFIP,c=AR,serialNumber=CUIT 33693450239"/>
    <add key="wsfe" value="wsfe"/>
    <add key="CertificadoPath" value="p:\certificado\devicom.pfx"/>
    <!--<add key="SistemaDPS" value="ADALL"/>-->
    <add key="SistemaDPS" value="REP"/>
	  
	  <!--<add key="wsaa" value="https://wsaa.afip.gov.ar/ws/services/LoginCms?WSDL"/>
    <add key="DNOrigen" value="C=ar, ST=caba, L=caba, O=cru, SERIALNUMBER=CUIT 30710500505, CN=crufilms"/>
    <add key="DNDestino" value="cn=wsaa,o=AFIP,c=AR,serialNumber=CUIT 33693450239"/>
    <add key="wsfe" value="wsfe"/>
    <add key="CertificadoPath" value="c:\certificado\furia.pfx"/>
    <add key="SistemaDPS" value="REP"/>-->    
    
    <!--<add key="wsaa" value="https://wsaa.afip.gov.ar/ws/services/LoginCms?WSDL"/>
    <add key="DNOrigen" value="c=ar,st=ba,l=ca,o=the fk group srl,ou=fk,SERIALNUMBER = CUIT 33708743149, cn=fk"/>
    <add key="DNDestino" value="cn=wsaa,o=AFIP,c=AR,serialNumber=CUIT 33693450239"/>
    <add key="wsfe" value="wsfe"/>
    <add key="CertificadoPath" value="c:\certificado\Certificadofk.pfx"/>
    <add key="SistemaDPS" value="ADALL"/>    
    <add key="wsaa" value="https://wsaa.afip.gov.ar/ws/services/LoginCms?WSDL"/>
    <add key="DNOrigen" value="C=ar, ST=cba, L=cb, O=gol, SERIALNUMBER=CUIT 30710683170, CN=golmarketing"/>
    <add key="DNDestino" value="cn=wsaa,o=AFIP,c=AR,serialNumber=CUIT 33693450239"/>
    <add key="wsfe" value="wsfe"/>
    <add key="CertificadoPath" value="c:\certificado\CertificadoGolMarketing.pfx"/>
    <add key="SistemaDPS" value="ADALL"/>-->
    <!--<add key="wsaa" value="https://wsaa.afip.gov.ar/ws/services/LoginCms?WSDL"/>
    <add key="DNOrigen" value="C=ar, ST=ba, O=devicom sa, SERIALNUMBER=CUIT 33707626599, CN=devicom sa"/>
    <add key="DNDestino" value="cn=wsaa,o=AFIP,c=AR,serialNumber=CUIT 33693450239"/>
    <add key="wsfe" value="wsfe"/>
    <add key="CertificadoPath" value="c:\certificado\certificadodevicom.pfx"/>
    <add key="SistemaDPS" value="REP"/>-->    
  </appSettings>

  <userSettings>
    <DPS_FE.My.MySettings>
      <setting name="DPS_FE_wsaa_LoginCMSServices" serializeAs="String">
        <value>https://wsaahomo.afip.gov.ar/ws/services/LoginCms</value>
      </setting>
    </DPS_FE.My.MySettings>
  </userSettings>
  <applicationSettings>
    <DPS_FE.My.MySettings>
      <setting name="DPS_FE_wsaa_LoginCMSService" serializeAs="String">
        <value>https://wsaa.afip.gov.ar/ws/services/LoginCms</value>
      </setting>
      <setting name="DPS_FE_wsw_Service" serializeAs="String">
        <value>https://servicios1.afip.gov.ar/wsfev1/service.asmx</value>
      </setting>
      <setting name="DPS_FE_wswx_Service" serializeAs="String">
        <value>https://servicios1.afip.gov.ar/wsfexv1/service.asmx</value>
      </setting>
    </DPS_FE.My.MySettings>
  </applicationSettings>
</configuration>
